# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyAvpTeLLBRfaQHFKSFrzYUqzLm0p5ihzLM

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# File to Load
file_to_load = "../output_data/rawdata.csv"

# Read data and store into Pandas data frame
data = pd.read_csv(file_to_load)
data.dropna()
data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Coihueco,0,CL,1580003261,42,-36.62,-71.83,80.60,11.41
1,1,Kruisfontein,89,ZA,1580003261,87,-34.00,24.73,64.71,22.73
2,2,Martapura,40,ID,1580003161,88,-3.42,114.85,80.60,3.36
3,3,Alice Springs,0,AU,1580003146,11,-23.70,133.88,91.40,16.11
4,4,Poum,100,NC,1580003261,82,-20.23,164.02,79.77,21.39
...,...,...,...,...,...,...,...,...,...,...
577,577,Comodoro Rivadavia,0,AR,1580003085,33,-45.87,-67.50,75.20,27.51
578,578,Belem,100,BR,1580003049,94,-1.46,-48.50,78.80,5.82
579,579,Arlit,0,NE,1580003335,11,18.74,7.39,64.99,8.28
580,580,Macamic,90,CA,1580003335,97,48.75,-79.00,32.00,9.17
581,581,Kavaratti,100,IN,1580003335,64,10.57,72.64,80.98,2.28

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configuring gmaps
gmaps.configure(api_key=g_key)
#setting locations
locations = data[["Lat", "Lng"]]
#setting weight
humidity = data["Humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal= data.loc[data['Max Temp'] < 80, :]
ideal= ideal.loc[ideal['Max Temp'] > 70, :]
ideal= ideal.loc[ideal['Wind Speed'] < 10, :]
ideal= ideal.loc[ideal['Cloudiness'] == 0, :]
ideal.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
85,85,Giyani,0,ZA,1580003271,76,-23.30,30.72,70.92,1.43
86,86,Yaguajay,0,CU,1580003272,71,22.33,-79.24,74.17,9.71
98,98,Thoen,0,TH,1580003273,22,17.61,99.22,79.81,1.10
108,108,Arraial do Cabo,0,BR,1580003274,82,-22.97,-42.03,75.16,6.76
163,163,Guapore,0,BR,1580003149,59,-28.85,-51.89,71.01,2.86

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#changing the variable name
hotel_df=ideal
#adding new column
hotel_df['Hotel Name'] = np.nan
#parameters
search = "Hotel"
radius = 5000
#for loop
counter = 0
for index, row in hotel_df.iterrows():
    # set up a parameters dictionary
    params = {
        "location": f"{row['Lat']}, {row['Lng']}",
        "keyword": search,
        "radius": radius,
        "key": g_key}

    #url
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(url, params=params)
    response_json = response.json()
    results = response_json['results']
    if len(results) > 0:
        name = response_json['results'][0]['name']
        hotel_df.iloc[counter, -1] = name
    counter = counter + 1

narrowed_city_df = hotel_df

In [7]:
narrowed_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
85,85,Giyani,0,ZA,1580003271,76,-23.30,30.72,70.92,1.43,Accommodation in Giyani - Vahlavi Lodge
86,86,Yaguajay,0,CU,1580003272,71,22.33,-79.24,74.17,9.71,Hostal La Terraza
98,98,Thoen,0,TH,1580003273,22,17.61,99.22,79.81,1.10,Nakornthoen Hotel
108,108,Arraial do Cabo,0,BR,1580003274,82,-22.97,-42.03,75.16,6.76,Orlanova Hotel
163,163,Guapore,0,BR,1580003149,59,-28.85,-51.89,71.01,2.86,Recanto São Carlos - Hospedagem/Centro de Espi...
167,167,Santa Maria,0,BR,1580003282,73,-29.68,-53.81,73.40,2.24,Itaimbé Palace
219,219,Presidencia Roque Saenz Pena,0,AR,1580003288,48,-26.79,-60.44,75.47,3.49,Hotel Orel
552,552,Formosa,0,AR,1580003262,69,-26.18,-58.18,78.80,4.70,Residencial Costanera
554,554,Mayor Pablo Lagerenza,0,PY,1580003332,41,-19.93,-60.77,78.64,4.50,NaN
562,562,Acajutla,0,SV,1580003333,75,13.59,-89.83,73.99,9.13,Villa Esmeralda

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))